
@import "tailwindcss";


@theme{
    --color-sand:#D8CFC4;
    --color-sanddark:#f5f5dc;
    --color-soft-clay:#C4A79A;
    --color-brown:#8B6F5C;
    --color-olive:#6F7C63;
    --color-warm-write:#F5F2EE;


}

@layer utilities {
  .font-button {
    font-family: var(--font-lato);
  }
}